<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Azure GT - Test mode XD</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
            </button> <a class="navbar-brand" href="#">Todo acerca de Azure GT</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="active nav-item"><a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item"><a href="/info" class="nav-link">Azure GT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1>¿Quieres saber quienes somos?</h1>
            <p>¿Estas listo para conocernos?</p>
            <br>
            <p><a class="btn btn-primary btn-lg" href="/info" role="button">Mas información</a>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Quienes somos</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae sapien vitae velit accumsan convallis. Proin vitae tortor non ex pulvinar sagittis. In hac habitasse platea dictumst. Fusce ultricies nulla nec euismod dignissim. Ut posuere, ex et tristique bibendum, lorem dui aliquam lorem, ut mattis erat turpis quis nisl. In sit amet congue lacus. Nulla eget nulla metus.
                </p>
            </div>
            <div class="col-lg-6">
                <h3>Filosofia</h3>
                <p>
                    Ut ullamcorper ornare tristique. Donec pulvinar, diam ac suscipit rutrum, tellus risus malesuada neque, a tempor libero lorem sit amet felis. Cras vitae orci iaculis, commodo felis elementum, hendrerit nulla. Sed ante nibh, euismod sit amet dignissim ac, tristique sit amet nisl. Integer at augue tempor, mollis neque sed, dictum nulla. Nunc in vulputate leo, vel auctor ex. Fusce at vehicula lorem, ac elementum libero. Sed cursus nulla dolor, et facilisis risus maximus nec. Etiam in massa congue tellus condimentum tincidunt. Integer pellentesque mattis elit et suscipit. In ut aliquam nibh, sit amet commodo leo. Maecenas quis congue est.
                </p>
            </div>
        </div>
    </div>
</body>

</html>